In [1]:
import pandas as pd
from google.colab import files
upload=files.upload()

Saving Iris.csv to Iris.csv

In [28]:
df=pd.read_csv("Iris.csv")
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [30]:
y=df[["SepalWidthCm"]]
x=df[["SepalLengthCm"]]
x.head()

   SepalLengthCm
0            5.1
1            4.9
2            4.7
3            4.6
4            5.0

In [22]:
from sklearn.model_selection import train_test_split

In [33]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.40)

In [34]:
from sklearn.tree import DecisionTreeRegressor

In [35]:
dc=DecisionTreeRegressor()

In [38]:
dc.fit(x_train,y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [39]:
y_pred=dc.predict(x_test)

In [41]:
y_test.head()

     SepalWidthCm
107           2.9
16            3.9
64            2.9
66            3.0
14            4.0

In [42]:
y_pred[0:5]

array([2.8       , 3.43333333, 2.73333333, 2.73333333, 2.7       ])