In [1]:
import pandas as pd
from google.colab import files

In [2]:
upload=files.upload()

Saving Customer-Churn.csv to Customer-Churn.csv

In [3]:
df=pd.read_csv("Customer-Churn.csv")

In [4]:
df.head()

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95       1889.5     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

In [5]:
x=df[['tenure']]
y=df[["Churn"]]

In [8]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [9]:
log=LogisticRegression()
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.35)

In [10]:
log.fit(x_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [11]:
y_pred=log.predict(x_test)

In [12]:
y_test.head()

     Churn
209     No
5206    No
4998    No
1521    No
183     No

In [15]:
y_pred[0:5]

array(['No', 'No', 'No', 'No', 'No'], dtype=object)

In [16]:
from sklearn.metrics import confusion_matrix

In [17]:
confusion_matrix(y_test,y_pred)

array([[1820,    0],
       [ 646,    0]])